@model BookWebApp.Infrastructure.AccountInfraStructure.ForgetPasswordModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w-100 h-100 bg-inverse">
    <div class="container">
        <div class="row w-100 h-100">
            <div class="col w-100 h-100">
                <h3 class="text-left display-4">Recovery Your Account</h3>
                <br />
                <p class="text-center mt-3">We can help you reset your password and security info. First, enter your Microsoft account and follow the instructions below.</p>
            </div>
            <hr class="text-white w-50 mx-3" />
            <form method="post" asp-action="ForgetPassword" asp-controller="Account">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label for="twofactorcode">Code: </label>
                    <input asp-for="Email" class="form-control text-center" value="@ViewBag["Email"]" placeholder="Code" id="twofactorcode" />
                </div>
                <button class="btn btn-outline-primary d-block text-center mt-3" type="submit">Next</button>
            </form>
        </div>
    </div>
</section>



