
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="w-100 h-100" onload="Start();">
    <div class="container w-100">
        <div class="row w-100 h-100">
            <div class="col text-center">
                <h3 class="text-success mt-5 text-center display-4">Your Password Reset Successfully</h3>
                <p class="text-muted lead">You Will Redirect To Login Page In <span id="counter"></span></p>
            </div>
        </div>
    </div>
</section>

<script>

    window.setTimeout(function () {
        window.location.href = '/Home/index';
    }, 4000);

    function Start() {
        var counter = document.getElementById("counter");
        counter.value = 4;
        setTimeout('Timer', 1000);
    }
    function Timer() {
        var counter = document.getElementById("counter");
        var currentt = counter.value;
        counter.value = currentt - 1;
    }
</script>



